<div class="banner">
    <img src="https://alfabetajuega.com/hero/2021/05/tanji-1.jpg?width=1200&aspect_ratio=16:9" alt="Naruto" class="banner-img">
    <div class="banner-text">
      <h1>Bienvenue sur Mon Site de Mangas</h1>
      <p>Découvrez les dernières actualités sur les mangas et les anime.</p>
    </div>
  </div>
