<% if params[:action] == "index" %>
  <header class="primary-header">
<% else %>
  <header class="primary-header active">
<% end %>
    <nav class="navbar container">
      <%= link_to root_path do%>
        <div class="logo">GAIA.</div>
      <% end %>
      <%# <a href="#" class="logo">GAIA.</a> %>
        <ul class="nav-list">
          <li>
            <a href="" class="nav-link">Home</a>
          </li>
          <li>
            <a href="" class="nav-link">lien 1</a>
          </li>
          <li>
            <a href="" class="nav-link">lien 2</a>
          </li>
        </ul>
      <a href="" class="button">Clique ici</a>
    </nav>
  </header>

<% if params[:action] == "index" %>
  <script>
    const isScrolling = () => {
      const headerEl = document.querySelector(".primary-header")
      let windowPosition = window.scrollY > 250
      headerEl.classList.toggle('active', windowPosition)
    }
    window.addEventListener('scroll', isScrolling)
  </script>
<% else %>
  <script>
    const isScrolling = () => {
      const headerEl = document.querySelector(".primary-header")
      let windowPosition = window.scrollY >= 0
      headerEl.classList.toggle('active', windowPosition)
    }
    window.addEventListener('scroll', isScrolling)
  </script>
<% end %>
