

 <%= render "shared/banner" %>

  <div class="list">
  <% @animes.each do |anime| %>
    <div class="item">
      <%= image_tag("#{anime.image}") %>
      <p><%=anime.nom%></p>
      <p><%= anime.note%></p>
    </div>
    <% end %>
  </div>
